# Experiment 9
### Name- Shreya
### PRN- 25070123159
### Batch- A3
### Title- Study of Pandas Library

In [1]:
# Introduction to Pandas
# Pandas: Panel Data
''' Used for Structured Data, EDA, Data Cleaning '''

' Used for Structured Data, EDA, Data Cleaning '

In [55]:
import pandas as pd
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [56]:
# Create a DataFrame
data= {"Name":["A","B","C"], "Marks":[85,90,78]}
df= pd.DataFrame(data)
df

  Name  Marks
0    A     85
1    B     90
2    C     78

In [11]:
df.head() # prints first 5 entries

  Name  Marks
0    A     85
1    B     90
2    C     78

In [12]:
# Find the Structure of the DataFrame
df.shape

(3, 2)

In [14]:
df.ndim  #gives number of columms

2

In [16]:
df.size  #total values in the dataset

6

In [20]:
# Display Column Names
df.columns

Index(['Name', 'Marks'], dtype='object')

In [23]:
# Check Data Types in each columns
df.dtypes

Name     object
Marks     int64
dtype: object

In [25]:
# Access Individual Column
df["Name"]

0    A
1    B
2    C
Name: Name, dtype: object

In [26]:
df["Marks"]

0    85
1    90
2    78
Name: Marks, dtype: int64

In [41]:
# Access Specific Row
df.loc[2]

Name      C
Marks    78
Name: 2, dtype: object

In [57]:
# Add a new column
''' If marks between 80-90 then First class
If marks>90 then Distinction
If marks>80-90 then second class '''
df["Grade"]=["First Class","Distinction","Second Class"]
df

  Name  Marks         Grade
0    A     85   First Class
1    B     90   Distinction
2    C     78  Second Class

In [51]:
# Update Data in DataFrame
# Change marks of student A to 88
df.loc[0,"Marks"]= 88
df

  Name  Marks
0    A     88
1    B     90
2    C     78

In [58]:
# Delete a column
df.drop("Grade",axis=1, inplace=True)  # axis=1 is for columns
df

  Name  Marks
0    A     85
1    B     90
2    C     78

In [62]:
# Perform Basic Statistical Analysis
mean1=df["Marks"].mean()
mean1

np.float64(84.33333333333333)

In [63]:
min1=df["Marks"].min()
min1

78

In [64]:
max=df["Marks"].max()
max

90

In [65]:
# Apply Condition (Fitering)
# Display students scoring more than 80
df[df["Marks"]>80]

  Name  Marks
0    A     85
1    B     90

In [66]:
import pandas as pd
import numpy as np
df1=pd.DataFrame({'C1':[11,21,np.nan],'C2':[15,np.nan,np.nan],'C3':[10,20,30]})
df1

     C1    C2  C3
0  11.0  15.0  10
1  21.0   NaN  20
2   NaN   NaN  30

In [80]:
df1.isna () #Boolean function

      C1     C2     C3
0  False  False  False
1  False   True  False
2   True   True  False

In [79]:
df1.notna ()

      C1     C2    C3
0   True   True  True
1   True  False  True
2  False  False  True

In [78]:
df1.isna().sum()

C1    1
C2    2
C3    0
dtype: int64

In [83]:
df1.dropna () # drops the rows which has nan

     C1    C2  C3
0  11.0  15.0  10