# Experiment 10
### Name- Shreya
### PRN- 25070123159
### Batch- A3
### Title- Create Dataset and Load Dataset

In [142]:
import pandas as pd
data = {"Roll_No":[101,102,103,104,105],"Gender":["Female","Male","Female","Male","Female"],
        "Department":["Computer","IT","ENTC","Mechanical","Computer"],"CGPA":[8.2,7.5,9.1,6.8,8.7]}
df=pd.DataFrame(data)
df.to_csv("students.csv",index=False)
print(df)

   Roll_No  Gender  Department  CGPA
0      101  Female    Computer   8.2
1      102    Male          IT   7.5
2      103  Female        ENTC   9.1
3      104    Male  Mechanical   6.8
4      105  Female    Computer   8.7

In [143]:
df.shape

(5, 4)

In [144]:
df.size

20

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Roll_No     5 non-null      int64
 1   Gender      5 non-null      object
 2   Department  5 non-null      object
 3   CGPA        5 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 292.0+ bytes

In [146]:
# Access information of Column Department
df.info("Department")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Roll_No     5 non-null      int64
 1   Gender      5 non-null      object
 2   Department  5 non-null      object
 3   CGPA        5 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 292.0+ bytes

In [147]:
# Access information of PRN 103
df.loc[2]

Roll_No          103
Gender        Female
Department      ENTC
CGPA             9.1
Name: 2, dtype: object

In [148]:
# Find out data type of each column
df.dtypes

Roll_No         int64
Gender         object
Department     object
CGPA          float64
dtype: object

In [149]:
# Perform mean, median, mode operations
df["CGPA"].mean()

np.float64(8.059999999999999)

In [150]:
df["CGPA"].median()

8.2

In [151]:
df["Gender"].mode()

0    Female
Name: Gender, dtype: object

In [152]:
df["Department"].mode()

0    Computer
Name: Department, dtype: object

In [153]:
# Insert a new column Grade
df["Grade"]=["B","A","A","B","A"]
df

   Roll_No  Gender  Department  CGPA Grade
0      101  Female    Computer   8.2     B
1      102    Male          IT   7.5     A
2      103  Female        ENTC   9.1     A
3      104    Male  Mechanical   6.8     B
4      105  Female    Computer   8.7     A

In [154]:
# Delete Gender column
df.drop("Gender",axis=1,inplace=True)
df

   Roll_No  Department  CGPA Grade
0      101    Computer   8.2     B
1      102          IT   7.5     A
2      103        ENTC   9.1     A
3      104  Mechanical   6.8     B
4      105    Computer   8.7     A

In [155]:
# CGPA of topper
df["CGPA"].max()

9.1

In [156]:
# CGPA of PRN 105
df[df["Roll_No"] == 105]["CGPA"]

4    8.7
Name: CGPA, dtype: float64

In [157]:
# Upload the Dataset
import pandas as pd
import numpy as np
df=pd.read_csv('/Cars93.csv')
df

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0
...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [158]:
df.head()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0

In [159]:
df.tail()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [160]:
df.size

930

In [161]:
df.shape

(93, 10)

In [162]:
df.dtypes

Manufacturer       object
Model              object
Type               object
Price             float64
MPG.city            int64
AirBags            object
Horsepower          int64
Passengers          int64
Rear.seat.room    float64
Luggage.room      float64
dtype: object

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    93 non-null     object
 1   Model           93 non-null     object
 2   Type            93 non-null     object
 3   Price           93 non-null     float64
 4   MPG.city        93 non-null     int64
 5   AirBags         59 non-null     object
 6   Horsepower      93 non-null     int64
 7   Passengers      93 non-null     int64
 8   Rear.seat.room  91 non-null     float64
 9   Luggage.room    82 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.4+ KB

In [141]:
df.describe()

,Price,MPG.city,Horsepower,Passengers,Rear.seat.room,Luggage.room
count,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000
mean,19.509677,22.365591,143.827957,5.086022,27.829670,13.890244
std,9.659430,5.619812,52.374410,1.038979,2.989072,2.997967
min,7.400000,15.000000,55.000000,2.000000,19.000000,6.000000
25%,12.200000,18.000000,103.000000,4.000000,26.000000,12.000000
50%,17.700000,21.000000,140.000000,5.000000,27.500000,14.000000
75%,23.300000,25.000000,170.000000,6.000000,30.000000,15.000000
max,61.900000,46.000000,300.000000,8.000000,36.000000,22.000000

In [164]:
df.shape

(93, 10)